@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ----- Global Styles ----- */

:root {
  --primary: #7f878e;
  --primary-rgb: 127, 135, 142;
  --secondary: #FFF7F1;
  --secondary-rgb: 255, 247, 241;
  --tertiary: #32231A;
  --tertiary-rgb: 50, 35, 26;
  --quaternary: #fc6c24;
  --quaternary-rgb: 252, 108, 36;

  --font-large: 26px;
  --font-medium-large: 20px;
  --font-medium: 14px;
  --font-normal: 12px;
  --font-small: 10px;

  --line-thick: 4px;
  --line-medium: 3px;
  --line-thin: 2px;
}

body, html{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: 'Space Mono', monospace;
  color: var(--primary);
  background-color: var(--tertiary);
}

.vending-machine {
  margin: auto;
  width: 750px;
  height: 650px;
  background-color: var(--secondary);
  border-radius: 30px;
  border: 10px solid var(--quaternary);
}

/* ----- Signage ----- */

.signage {
  font-weight: 800;
  font-size: var(--font-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signage > p {
  margin: 10px;
  font-style: italic;
}

.signage > img {
  margin-top: 10px;
  max-width: 300px;
}
